.DS_Store
brainbaking.sublime-workspace
public/
.idea/
.gradle/
out/
build/
resources/
node_modules/
docs/

*.class

books/**/*.idx
books/**/*.lof
books/**/*.log
books/**/*.toc
books/**/*.pdf
books/**/*.lot
books/**/*.aux
books/**/boek.tex

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
