<article>
	<ul class="list-ul">
	{{ range .Pages.ByDate.Reverse }}
		<li>
			<span class="list-date">{{ .Date.Format ("02") }}</span>
			<div class="list-title">
				<h4>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</h4>
				{{ .Params.subtitle }} 
			</div>
			<div class="list-tags">
				{{ if isset .Params "categories" }}
					<svg class='icon icon-text icon-gray'><use xlink:href="#folder"></use></svg>
					{{ range .Params.categories }}
						<a href="{{ site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
					{{ end }}
					&nbsp;
				{{ end }}
				{{ if isset .Params "tags" }}
					<svg class='icon icon-text icon-gray'><use xlink:href="#tag"></use></svg>&nbsp;
				    {{ range .Params.tags }}
				        <a href="{{ site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
				    {{ end }}
				{{ end }}
			</div>
		</li>
	{{ end }}
	</ul>
</article>