<header>

    {{ if .Title }}
    <h1>
        {{ with .Params.icontag }}
            <svg class='icon'><use xlink:href='#{{ . }}'></use></svg>
        {{ end }}
        {{ .Title }}
    </h1>
    {{ end }}

    
    {{ if isset .Params "subtitle" }}
        <h2>{{ .Params.subtitle }}</h2>
    {{ end }}
    {{ if isset .Params "date" }}
        <h3>
            {{ if isset .Params "date" }}
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
                <svg class='icon icon-text' width='24' height='24'>
                    <use xlink:href='#cal1'></use>
                </svg>
                {{ .Date.Format (.Site.Params.dateFormat | default "2 January 2006") }}
            </time>
            {{ end }}
            {{ if isset .Params "categories" }}
                &nbsp;|&nbsp;
                <span title="Categories">
                    <svg class='icon icon-text' width='24' height='24'>
                        <use xlink:href='#folder'></use>
                    </svg>
                    {{ range .Params.categories }}
                        <a href="/categories/{{ . }}">{{ . }}</a> 
                    {{ end }}
                </span>
            {{ end }}
            {{ if (not .Params.disableComments) }}
                &nbsp;|&nbsp;
                <span title="Comments">
                    <svg class='icon icon-text' width='24' height='24'>
                        <use xlink:href='#discuss'></use>
                    </svg><a href="{{ .Permalink }}#commento"></a>
                </span>
            {{ end }}
        </h3>
    {{ end }}


    {{ if isset $.Params "tags" }}
       <svg class='icon icon-text' width='24' height='24'>
        <use xlink:href='#tag'></use>
        </svg>
    {{ end }}
    <span class='list-tags'>
        {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
        {{ end }}
    </span>

</header>
