<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ partial "tagslist.html" . }}

      <article role="main" class="blog-post">
          {{ .Content }}
      </article>

      <ul class="blog-pagination blog-pager">
        {{ if .PrevInSection }}
        <li>
          &larr; Previous Post: <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">{{ .PrevInSection.Title }}</a>
          <span class="blog-pagination-date"> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ .PrevInSection.Date.Format "01/02/20016" }}</span>
        </li>
        {{ end }}
        {{ if .NextInSection }}
        <li>
          &rarr; Next Post: <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ .NextInSection.Title }}</a>
          <span class="blog-pagination-date"> <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ .NextInSection.Date.Format "01/02/20016" }}</span>
        </li>
        {{ end }}
      </ul>

      {{ partial "disqus.html" . }}

    </div>
  </div>
</div>
