<li id="google-search-wrapper">
	<script>
	(function() {
	  var cx = '015035874764642922467:uhhwew4ykvm';
	  var gcse = document.createElement('script');
	  gcse.type = 'text/javascript';
	  gcse.async = true;
	  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(gcse, s);
	})();
	</script>

	<gcse:search></gcse:search>

	<form onsubmit="return false;">
		<label for="searchInput"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></label>
		<input type="text" id="searchInput" placeholder="Search">
	</form>

	<script>
	(function() {
		document.querySelector('#searchInput').addEventListener("keypress", function(event) {
			if(event.keyCode === 13) {
				event.stopPropagation();
				document.querySelector('#___gcse_0 input').value = document.querySelector('#searchInput').value;
				document.querySelector('.gsc-search-button button').click();

				var modal = document.querySelector('.gsc-modal-background-image');
				modal.attributes['class'].value = "gsc-modal-background-image gsc-modal-background-image-visible";
			}
		});
	})();
	</script>
</li>