{{ partial "header" . }}

{{ if .Params.bigimg }}
    <div class="jumbotron big-img" style='background-image: url("{{.Params.bigimg}}");'>
        <div class="container">
            &nbsp;
        </div>
    </div>
{{ end }}

<main>

    <a name="top"></a>
    {{ partial "list-item" . }}

    <br> <div class="text-justify">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header"><i class="fa fa-newspaper-o"></i>&nbsp;Related by Tags</h4>

        <div class="text-justify">
            {{ range $related }} {{ partial "related-item" . }} {{ end }}
        </div>

        <hr/>

    {{ end }}

    <!-- discuss without disqus: twitter knopke -->
    {{ if (not .Params.disableComments) }}
    <h4 class="page-header"><i class="fa fa-comments-o"></i>&nbsp;Join the Discussion on 
        <a href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a>!</h4>

        {{ if .Site.DisqusShortname }}

            <h4 class="page-header">Comments</h4>
            {{ template "_internal/disqus.html" . }}

        {{ end }}

    {{ end }}

    <i class='fa fa-arrow-circle-o-up'></i>&nbsp;<a href="#top">Top</a> 

</main>

{{ partial "footer.html" . }}
