body {
	margin: 0px;
	padding: 0px;
	background: #aec6c1;
	font-family: Tahoma, sans-serif;
	color: #222222;
	font-size : small;
}

#logo {
	color: #C4C2A3;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	margin: 0px;
	border-bottom: 2px dotted #44625b;
}


.sub { 
	font-size: medium;
}

#main {
	padding: 20px;
	background: #aec6c1;
}

#nav {
	float: left;
	width: 200px;
	text-align: center;
}

#code {
	margin-left: 25px;
	margin-right: 25px;
	border: 1px dotted #333333;
	background: #E2EAAD;
	margin-top: 10px;
	font-family: monospace;
}

.article {
	margin-left: 25px;
	margin-right: 25px;
	border: 1px dotted #333333;
	border-bottom: none;
	border-top: none;
	background: #9fb7b2;
}

.article .under {
	text-align: right;
	margin-top: 10px;
	border-bottom: 1px dotted #333333;
}

.article .midden {
	margin-left: 10px;
}

.article .up {
	font-weight: bold;
	font-size: large;
	border-top: 1px dotted #333333;
}

#nav .current {
	background: #aac7d2;
	padding: 10px 20px;
	border: 1px dotted #666;
	border-bottom: none;
	text-align: left;
	font-weight: bold;
	cursor: hand;
}

#nav .item {
	background: #86ada4;
	padding: 10px 22px;
	border: 1px dotted #666;
	border-bottom: none;
	text-align: left;
	font-weight: bold;
	color: #EEEEEE;
	cursor: hand;
}

#nav .subitem {
	background: #769d93;
	padding: 10px 30px;
	border: 1px dotted #666;
	border-bottom: none;
	text-align: left;
	font-weight: italic;
	color: #EEEEEE;
	cursor: hand;
}

#nav .subitem:hover {
	font-weight: none;
	text-decoration: underline;
}

#nav .item:hover {
	background: #aac7d2;
	color: #333333;
}

#hoofd {
	position: absolute;
	left: 220px;
	top: 130px;
	padding: 20px;
	background: #aec6c1;
}


h2 {
	border-bottom: 2px solid #526A43; 
	font-size: 2em;
	margin-top: 10px;
	align: 10px;
	font-weight: bold;
	color: #111111;
}


span.image_row {
	float: left;
}

span.image_row img {
	margin: 10px;
}

div.image_row {
	display: block;
	text-align: center;
}

div.image_row img {
	margin: 10px;
}

* img {border: none}
* a:link,
* a:visited {font-weight: bold; color: #30345D; text-decoration: none}
* a:hover {color: #61617A; text-decoration: underline}
