{{ partial "header" . }}

{{ partial "bigimg" . }}

<main class="list">

	{{ if .Title }}
		<header>
		    <h1>
	      		<svg class='icon'><use xlink:href="#{{ .Params.icontag }}"></use></svg>&nbsp;{{ .Title }}
			</h1>
		</header>
    {{ end }}

	{{ if eq .Paginator.PageNumber 1 }}
	    <hr/>
	    {{ with .Content }}
	    <article>
	    	{{ . }}
		</article>
		{{ end }}
	{{ end }}


	{{ if (not .Params.disableList) }}
	<div class="list">

	{{ range (where .Paginator.Pages ".Params.category" "ne" "archive").GroupByDate "2006" "desc" }}
		<h2>{{ .Key }}</h2>

	    {{ range .Pages.GroupByDate "Jan" }}
	    	<h3>{{ .Key }}</h3>
	    	{{ partial "list-ul" . }}
	    {{ end }}
    {{ end }}
	</div>
    {{ end }}

	{{ template "_internal/pagination.html" . }}
	<footer>
	  <svg class='icon icon-text' width='24' height='24'><use xlink:href='#up'></use></svg><a href="#top">Top</a> 
	</footer>
</main>

{{ partial "footer" . }}
