{{ partial "header" . }}

<main class="list">

	{{ if .Title }}
	    <h1>
      		<svg class='icon'><use xlink:href="#{{ .Params.icontag }}"></use></svg>&nbsp;{{ .Title }}
		</h1>
    {{ end }}

	{{ if eq .Paginator.PageNumber 1 }}
	    <hr/>
	    {{ with .Content }}
	    <div class="text-justify">
	    	{{ . }}
		</div>
		{{ end }}
	{{ end }}

	{{ if (not .Params.disableList) }}
	<div class="list">
	{{ range .Paginator.Pages.GroupByDate "2006" "desc" }}
		<h2>{{ .Key }}</h2>

	    {{ range .Pages.GroupByDate "Jan" }}
	    	<h3>{{ .Key }}</h3>

	    	<ul class="list-ul">
	    	{{ range .Pages.ByDate.Reverse }}
	    		<li>
					<span class="list-date">{{ .Date.Format ("02") }}</span>
					<div class="list-title">
						<h4>
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						</h4>
						{{ .Params.subtitle }} 
					</div>
					{{ if isset .Params "tags" }}
						<div class="list-tags">
								<svg class='icon icon-inline'><use xlink:href="#tag"></use></svg>&nbsp;
						    {{ range .Params.tags }}
						        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
						    {{ end }}
						</div>
					{{ end }}
				</li>
	    	{{ end }}
	    	</ul>

	    {{ end }}
    {{ end }}
	</div>
    {{ end }}

{{ template "_internal/pagination.html" . }}


</main>

{{ partial "footer" . }}
