{{ partial "header" . }}

<main class="h-entry">
	{{ partial "bigimg" . }}

	<article class="single {{ .Section }}">
		{{ partial "single-header" . }}
	    <div class="e-content content">
	  		{{ .Content | safeHTML }}
	  	</div>
	</article>
		  	
	<div class="belowsingle">
		<div class="txtblock">
	    	{{ partial "single-comments" . }}
	    	{{ partial "single-webmentions" . }}

			{{ partial "single-related" . }}

			<footer>
			  <svg class='icon icon-text' width='24' height='24'>
			  	<title>Back to top</title>
			  	<use xlink:href='#up'></use>
			  </svg><a href="#header">Top</a> 
			</footer>
		</div>
	</div>
</main>

{{ partial "footer.html" . }}
