{{ partial "header" . }}

{{ partial "bigimg" . }}

<main class="single {{ .Section }}">
	<article class="h-entry">
		<a id="top"></a>
		{{ partial "single-header" . }}
	    <div class="e-content content">
	  		{{ .Content | safeHTML }}
	  	</div>
	  	
    	{{ partial "single-comments" . }}
    	{{ partial "single-webmentions" . }}
	</article>

    {{ partial "single-related" . }}

	<footer>
	  <svg class='icon icon-text' width='24' height='24'><use xlink:href='#up'></use></svg><a href="#top">Top</a> 
	</footer>
</main>

{{ partial "footer.html" . }}
