<style>

main {
	padding-top: 0 !important;
}

main .text-justify p {
  margin: 0 0 20px !important;
}

.big-img {
  	background: no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;

	border-top: 2px solid lightgray;
	border-bottom: 1px solid var(--accent);
}

@media only screen and (min-width: 768px) {
  .big-img .container {
    height: 150px;
  }
}

/* --- goodreads widget styles --- */
.gr_grid_container {
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 98px;
  height: 160px;
  padding: 0px 0px;
  border: 1px solid black;
  margin: 5px;
  overflow: hidden;
}

</style>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>