<div class="item">

    {{ if .Title }}
    <h3>
        {{ with .Params.icontag }}
            <i class='fa {{ . }}'></i>&nbsp;
        {{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "2 January 2006") | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
    {{ if isset $.Params "subtitle" }}
        <h4>{{ .Params.subtitle }}</h4>
        <h5>
        	<span style="color: grey;">
        		<span title="Created Date">
                    <i class='fa fa-calendar'></i>&nbsp;{{ $.Scratch.Get "subtitle" }}
                </span>&nbsp;|&nbsp;
                <span title="Last Modified Date">
                    <i class='fa fa-calendar-check-o'></i>&nbsp;{{ .Lastmod.Format (.Site.Params.dateFormat | default "2 January 2006") }}
                </span>
    		</span>
    	</h5>
    {{ end }}


    {{ if isset $.Params "tags" }}
	   <i class='fa fa-tags' style='color: grey;'></i>&nbsp;
    {{ end }}
    {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}

</div>
