<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <header class="header-section ">
      <div class="intro-header no-img">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                <h1>Tag: <i class="fa fa-tags" aria-hidden="true"></i> <code>{{ .Title | lower }}</code></h1>
                  <hr class="small">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div role="main" class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="posts-list">

          	<p>
          	Back to the <a href="/tags">tags overview</a> list!
          	</p>

				<ul class="list-unstyled">
                    {{ range .Data.Pages }}
					  <li>
				        <h3><a href="{{ .Permalink }}">{{ .Title}}</a></h3>
				        <small>{{ .RelPermalink }} - {{ .Date.Format "2 January 2006" }}</small>
				    </li>
                    {{ end}}
                </ul>
          </div>

        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
